<ion-content class="mw-garantia">
  <div class="container">
    <h1>Nuestra política de garantía</h1>

    <div class="grid">
      <div class="card">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <h2>Productos garantizados</h2>
        <p>Todos nuestros productos cuentan con garantía de calidad.</p>
      </div>

      <div class="card">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <h2>Casos cubiertos</h2>
        <p>Defectos de fábrica, errores en envío o deterioro en tránsito.</p>
      </div>

      <div class="card">
        <ion-icon name="refresh-outline"></ion-icon>
        <h2>Proceso</h2>
        <p>Contacta a soporte en un máximo de 7 días tras recibir tu pedido.</p>
      </div>

      <div class="card">
        <ion-icon name="document-text-outline"></ion-icon>
        <h2>Requisitos</h2>
        <p>Presentar número de pedido y evidencias (foto/video).</p>
      </div>
    </div>

    <div class="note">
      Si tu caso aplica, podrás elegir entre 
      <strong>reemplazo</strong> o <strong>reembolso</strong>.
    </div>
  </div>
   <app-footer></app-footer>
</ion-content>

       

