<ion-content class="mw-envios">
  <div class="container">
    <h1>Información sobre envíos</h1>

    <div class="cards">
      <div class="card">
        <ion-icon name="map-outline"></ion-icon>
        <div class="text">
          <h2>Cobertura</h2>
          <p>Realizamos entregas a nivel nacional en Ecuador.</p>
        </div>
      </div>

      <div class="card">
        <ion-icon name="time-outline"></ion-icon>
        <div class="text">
          <h2>Tiempo de entrega</h2>
          <p>Entre 48 y 72 horas hábiles según tu ubicación.</p>
        </div>
      </div>

      <div class="card">
        <ion-icon name="cash-outline"></ion-icon>
        <div class="text">
          <h2>Costos</h2>
          <p>El costo de envío depende del peso y la distancia.</p>
        </div>
      </div>

      <div class="card">
        <ion-icon name="cube-outline"></ion-icon>
        <div class="text">
          <h2>Transportistas</h2>
          <p>Trabajamos con empresas logísticas confiables.</p>
        </div>
      </div>
    </div>

    <div class="note">
      Recibirás un <strong>número de seguimiento</strong> para monitorear tu pedido.
    </div>
  </div>

    <app-footer></app-footer>

</ion-content>